* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6ccd8;
    flex-direction: column;
    gap: 50px;
}

button {
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 5px;
}


.btnOne:hover {
    background-color: #1F3A5F;
    color: #FF3D3D;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0.2s;
    transition-timing-function: linear;
}

.btnTwo:hover {
    transform: rotate(1turn);
    transition: transform;
    transition-duration: 3s;
    transition-delay: 0.5s;
    transition-timing-function: ease-in-out;
}

.btnThree:hover {
    background-color: #1F3A5F;
    color: #FF3D3D;
    transform: skew(180deg,180deg);
    transition-property: all;
    transition-duration: 5s;
}

.btnFour:hover {
    transform: translate(50px) scale(1.5);
    transition-property: all;
    transition-duration: 4s;
    transition-timing-function: ease-in;
}
























