* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b6ccd8;
    flex-direction: column;
    gap: 20px;
}


button {
    padding: 10px 10px;
    text-transform: uppercase;
    border-radius: 5px;
}


.btnOne:hover {
    background-color: #1F3A5F;
    color: #FF3D3D;
    transition-property: background-color;
    transition-duration: 2s;
    transition-delay: 0.2s;
    transition-timing-function: linear;
}

.btnTwo:hover {
    transform: rotate(45deg);
    transition-property: all;
    transition-duration: 3s;
}

.btnThree:hover {
    transform: scale(2);
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 4s;
    transition-delay: 0.2s;
}

.btnFour:hover {
    transform: skew(80deg, 100deg);
    transition-duration: 5s;
}

.btnFive:hover {
    transform: translate(50px, -300px);
    transition-duration: 4s;
    transition-timing-function: ease-in-out;
}