* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid red;
    background-image: url("../img/photo.jpg");
    height: 33.3vh;
}

.containerOne {
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.containerTwo {
    background-size: 100px 100px;
    background-repeat: repeat;
}

.containerThree {
    background-size: 100px 100px;
    background-repeat: repeat-y;
}

.containerFour {
    background-size: 100px 100px;
    background-repeat: repeat-x;
}

/* not stretching img */
.containerFive {
    background-size: 100px 100px;
    background-repeat: space;
}

/* stretching img */
.containerSix {
    background-size: 100px 100px;
    background-repeat: round;
}
