*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F3A5F;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

section {
    width: 350px;
    height: 234px;
    position: relative;
    background-color: #acc2ef;
    outline: 20px solid rgb(136, 136, 136) ;
    outline-offset: 20px;
}

section:hover {
    outline: 10px solid grey;
    outline-offset: -20px;
}

section:hover img {
    opacity: 0.9;
}

section::before {
    content: "";
    position: absolute;
    inset: 2.5rem;
    border-block: 2px solid rgb(191, 160, 160);
    transform: scale(0,1);
    transition: transform 250ms ease-in-out;
}

section:hover::before {
    transform: scale(1)
}

section::after {
    content: "";
    position: absolute;
    inset: 2.5rem;
    border-inline: 2px solid rgb(191, 160, 160);
    transform: scale(1,0);
    transition: transform 250ms ease-in-out;
}

section:hover::after {
    transform: scale(1)
}


img {
    max-width: 100%;
    height: auto;  
}

p {
    position: absolute; 
    text-transform: uppercase;
    color: aliceblue; 
    font-size: 1.5rem; 
}

.first {
    top: 5rem;
    width: 100%;
    text-align: center;
}

.second {
    top: 8rem;
    width: 100%;
    text-align: center;
}
















