* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #0F1C2E;
}

section {
    width: 1300px;
}

img {
    max-inline-size: 100%;
    height: auto;
}




























