* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(77, 76, 75);
}

.container {
    width:800px;
    height: 400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px repeat(2, 1fr) 50px ;
    border: 5px solid red;
}

.item {
    background-color: aqua;
}