*{
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
}

h1 {
    text-transform: uppercase;
}

main {
    width: 500px;
    height: 500px;
    position: relative;
}

.front {
    position: absolute;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

