* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 2px solid red;
    background-image: url("../img/photo.jpg");
    height: 33.3vh;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.containerOne {
    background-position: 100px 50px;
}

.containerTwo {
   background-position: bottom left;
}

.containerThree {
    background-position: top right;
}

.containerFour {
    background-position: 50% 50%;
}



