* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 3px solid red;
    height: 33vh;
}

.containerOne {
    background-color: rgba(231, 222, 100, 0.8);
}

.containerTwo {
    background-color: aqua;
}

.containerThree {
    background-color: #ff00ff;
}
   
 
   
    


