* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background-color: #0F1C2E;
    flex-wrap: wrap;
    align-items: start;
}

section {
    width: 100px;
}

section:hover {
    box-shadow: 10px 10px 20px black;
    transition: 2s;
}

img {
    max-inline-size: 100%;
    height: auto;
}




























