* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 15px solid red;
    background-image: url("../img/photo.jpg");
    background-repeat: no-repeat;
    background-size: 400px 400px;
    padding: 30px;
    border-style: dashed;
    margin: 20px 0;
    height: 400px;
    width: 400px;

}

/* img is pushed inside background-origin:border-box; img is not pushed*/
.containerOne {
   background-clip: border-box;
}

/* img is clipped background-origin:padding-box; img is pushed and its on border */
.containerTwo {
    background-clip: padding-box;
}

/* img is clipped background-origin:content-box; img is pushed */
.containerThree {
    background-clip: content-box;
} 
